# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.egg-info/
dist/
build/
.pytest_cache/

# Omniverse Kit SDK Build & Packman caches
kit-app-template/
_build/
_repo/

# Omniverse / Replicator outputs
_sdg_output/
_output_sdg/
replicator/_sdg_output/
*.log

# USD generated binaries/temporary
*.usdc.tmp
